<%- include('../partials/header') %>


<h3>Airline: <%=flight.airline%></h3>
    <h3>Airport: <%=flight.airport%></h3>
    <h3>Flight No: <%=flight.flightNo%></h3>
    <h3>Departs: <%=flight.departs%></h3>



    <br><br><h2>Destinations</h2>
    <form id="add-destinations-form" method="POST"
      action="/flights/<%= flight._id %>/destinations">
      <label>Arrival:</label>
      <input type="datetime-local" name="arrival"></textarea>
      <label>Airport:</label>
      <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
      </select>
      <input type="submit" value="Add Destination">
    </form>



    <% if (flight.destinations.length) { %>
        <table>
          <thead>
            <tr>
              <th>Airport</th>
              <th>Arrival</th>
              <th>Date Created</th>
            </tr>
          </thead>
          <tbody>
            <% flight.destinations.forEach(function(d) { %>
              <tr>
                <td><%= d.airport %></td>
                <td><%= d.arrival %></td>
                <td><%= d.createdAt.toLocaleDateString() %></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      <% } else { %>
        <h5>No Destinations Yet</h5>
      <% } %>

      <h1>Booked Tickets</h1>
    <% if (tickets.length) { %>
      <% tickets.forEach(function(t) { %>
        <li>Seat: <%= t.seat %> | Price: $<%= t.price %></li>
      <% }) %>
    <% } else { %>
      <h5>No Tickets Yet</h5>
    <% } %>
    <h2><a href="/tickets/<%=flight._id%>/new"><button>Add Ticket</button></a></h2>




<%- include('../partials/footer') %>